/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-color: rgba(178, 240, 160, 0.7);
    height: 100%;
    overflow: hidden;
    font-family: 'Numans', sans-serif;
}
